.div1{
    width: 515px;
    height:500px;
    
    margin-right: 20px;
} 
.div2{
    width: 960px;
    height:520px;
    
}
.div3{
    margin-top: -10px;
    width: 515px;
    height:200px;
    
}
.div4{
    margin-top: 10px;
    width: 960px;
    height:200px;
    
}
.div1{
    width: 515px;
    height:500px;
    
    margin-right: 20px;
} 
.div2{
    width: 960px;
    height:520px;
    
}
.div3{
    margin-top: -10px;
    width: 515px;
    height:200px;
    
}
.div4{
    margin-top: 10px;
    width: 960px;
    height:200px;
    
}
