
.App {
  text-align: center;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.dropdown-toggle::after {
  background-color: #282c34;
  display: none;
   /* margin-left: 0.555em; */
  /* vertical-align: 0.255em;  */
  /* content: "none"; */
  /* border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent; */
}
.btn-primary {
  
  margin-left: 30%;
  background-color: #282c34;
  border-color: #282c34;
}
.btn-primary:hover{
  background-color: #282c34;
  border-color: #282c34;
}
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
  /* color: #fff; */
  background-color: #282c34;
  
  outline: none;
  border:none
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #282c34;
  border:none;
  outline: none;
}
button:focus:not(:focus-visible) {
  outline: none;
}
button:focus{
 display: none;
 border:none;
 outline: none;
}
.dropdown-menu{
  
  background-color: #424242;
}
.dropdown-menu :hover{
 background-color: #282c34;
}
.page-link {
  position: relative;
  display: block;

  color: white;
 
  background-color: #424242;
  border:none;
}
